
/* Start -> Next button */
.Start_button_next {
    -fx-background-image : url("StartButton.png");
    -fx-background-size : cover;
    -fx-background-repeat : no-repeat;
    -fx-background-position : center;
    -fx-border-width: 0;
    -fx-padding: 0;
}

/* Home -> Switch to Option page button */
.Home_Option_button {
    -fx-background-image : url("OptionClick.png");
    -fx-background-size : cover;
    -fx-background-repeat : no-repeat;
    -fx-background-position : center;
    -fx-border-width: 0;
    -fx-padding: 0;
}

/* Home -> Switch to Maps page button */
.Home_Maps_button {
    -fx-background-image : url("MapsClick.png");
    -fx-background-size : cover;
    -fx-background-repeat : no-repeat;
    -fx-background-position : center;
    -fx-border-width: 0;
    -fx-padding: 0;
}

/* Home -> Switch to Information page button */
.Home_Information_button {
    -fx-background-image : url("InfoClick.png");
    -fx-background-size : cover;
    -fx-background-repeat : no-repeat;
    -fx-background-position : center;
    -fx-border-width: 0;
    -fx-padding: 0;
}

/* Home -> Switch to Setting page button */
.Home_Setting_button {
    -fx-background-image : url("SettingClick.png");
    -fx-background-size : cover;
    -fx-background-repeat : no-repeat;
    -fx-background-position : center;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.Home_Start_button {
    -fx-background-image : url("StartClick.png");
    -fx-background-size : cover;
    -fx-background-repeat : no-repeat;
    -fx-background-position : center;
    -fx-border-width: 0;
    -fx-padding: 0;

}

.Maps_glacier_button {
    -fx-background-image : url("Glacier.png");
    -fx-background-size : cover;
    -fx-background-repeat : no-repeat;
    -fx-background-position : center;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.Maps_desert_button {
    -fx-background-image : url("Desert.png");
    -fx-background-size : cover;
    -fx-background-repeat : no-repeat;
    -fx-background-position : center;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.Maps_forest_button {
    -fx-background-image : url("Forest.png");
    -fx-background-size : cover;
    -fx-background-repeat : no-repeat;
    -fx-background-position : center;
    -fx-border-width: 0;
    -fx-padding: 0;
}


